/* You can add global styles to this file, and also import other style files */
.lang-btn {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  background-color: #ffffff;
  border: 2px solid #b08d57;
  color: #b08d57;

  padding: 10px 14px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  z-index: 999;
}

.lang-btn:hover {
  background-color: #b08d57;
  color: #ffffff;
}
.lang-switch {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 6px;
  z-index: 9999;
}

.lang-switch button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  background: #ddd;
  font-weight: 600;
}

.lang-switch button.active {
  background: #c19a6b;
  color: white;
}
